<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.korea.plate.dao.CustomerDAO">
	
	<!-- 아이디 중복체크 -->
	<select id="idCheck" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM CUSTOMER WHERE CID = #{param1} 
	</select> 
	
	<!-- 닉네임 중복체크 -->
	<select id="NicknameCheck" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM CUSTOMER WHERE CNICKNAME = #{param1}
	</select>
	
	<!-- 이메일 중복체크 -->
	<select id="emailCheck" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM CUSTOMER
		WHERE CEMAIL = #{param1}
	</select>
	
	<!-- 일반회원 가입 -->
	<insert id="customerSignUp">
		INSERT INTO CUSTOMER (CNO, CID, CPW, CNAME, CNICKNAME, CPHONE, CEMAIL, CPHOTO, CGRADE, CGENDER, CREGDATE)
		VALUES (CUSTOMER_SEQ.NEXTVAL, #{param1}, #{param2}, #{param3}, #{param4}, #{param5}, #{param6}, #{param7}, '1', #{param8}, SYSDATE)
	</insert>
	
	<!-- 일반회원 로그인 -->
	<select id="customerLogin" parameterType="String" resultType="com.korea.plate.dto.CustomerDTO">
		SELECT * FROM CUSTOMER WHERE CID = #{param1} AND CPW = #{param2}
	</select>
	
	<!-- 일반회원 마이페이지 -->	
	<select id="selectBycNo" resultType="com.korea.plate.dto.CustomerDTO">
		SELECT * FROM CUSTOMER WHERE CNO = #{param1}
	</select>
	
	<select id="customerMyReview" resultType="com.korea.plate.dto.ReviewDTO">
		SELECT * FROM REVIEW WHERE CNO = #{param1}
	</select>
	
	<select id="deptName" resultType="String">
		SELECT DNAME FROM DEPARTMENT_INFO WHERE DSAUP_NO = #{param1}
	</select>
	
	<select id="customerMyAppointment" resultType="com.korea.plate.dto.AppointmentDTO">
		SELECT * FROM APPOINTMENT WHERE CNO = #{param1}
	</select>
	
	<select id="deptPhone" resultType="String">
		SELECT DPHONE FROM DEPARTMENT_INFO WHERE DSAUP_NO = #{param1}
	</select>
	
	<!-- 닉네임 변경 -->
	<update id="nicknameUpdate">
		UPDATE CUSTOMER SET CNICKNAME = #{param1} WHERE CNO = #{param2}
	</update>
	
	<!-- 비밀번호 변경 -->
	<update id="pwUpdate">
		UPDATE CUSTOMER SET CPW = #{param1} WHERE CNO = #{param2}
	</update>
	
	<!-- 프로필 사진 변경 -->
	<update id="customerPhotoUpdate">
		UPDATE CUSTOMER SET CPOTO = #{param2} WHERE CNO = #{param1}
	</update>
	
	<!-- 일반회원 탈퇴 -->
	<delete id="customerSignOut1">
		DELETE REVIEW WHERE CNO = #{param1}
	</delete>
	<delete id="customerSignOut2">
		DELETE APPOINTMENT WHERE CNO = #{param1}
	</delete>
	<delete id="customerSignOut3">
		DELETE CUSTOMER WHERE CNO = #{param1}
	</delete>
	
	<!-- 일반회원 아이디 찾기 -->
	<select id="finduId" resultType="String">
		SELECT CID FROM CUSTOMER WHERE CNAME = #{param1} AND CEMAIL = #{param2}
	</select>
	
	<!-- 일반회원 비밀번호 찾기 -->
	<select id="finduPw" resultType="int">
		SELECT COUNT(*) FROM CUSTOMER WHERE CID = #{param1} AND CEMAIL = #{param2}
	</select>
	
	<update id="UpdateTempPw">
		UPDATE CUSTOMER SET CPW = #{param2} WHERE CID = #{param1}
	</update>
	
	<!--
	<update id="cPhotoUpdate">
		UPDATE CUSTOMER
		SET CPOTO = #{param1}
		WHERE CNO = #{param2}
	</update>
	
	 -->
	
</mapper>